﻿@model WebApp_Pagination.Models.ProductListViewModel

@using WebApp_Pagination.Helpers

@{
    ViewBag.Title = "Каталог товаров";
}

<h2>Список товаров</h2>

<p>
    @Html.ActionLink("Добавить товар", "Create")
</p>

<form method="get">
    <div class="form-inline">
        <label class="control-label">Категория: </label>
        @Html.DropDownList("category", Model.Categories as SelectList,
                    htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>

<table class="table table-striped">
    <tr>
        <th>
            Категория
        </th>
        <th>
            Товар
        </th>
        <th>
            Описание
        </th>
        <th>
            Цена, грн
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>
